


/*selects all the elements*/
*{
  box-sizing:border-box;
  padding: 0;
  font-family: "Mystery Quest", cursive;
  font-size: 19px;
 
    
}

html{
  height:100%;}

/*body for background behind overlay*/
body {
background-image: linear-gradient(-225deg, #B6CEE8 0%, #F578DC 100%);
   background-attachment:fixed;
  background-repeat: no-repeat;
}

/*column format for price page*/
.col{
 display: grid;
  flex-direction:column;
  column-gap: normal;
  height: 100%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns:1fr 1fr;
  color:#ff69b4;
  text-align: center;
  
   
}




/* Zazzy banner */
.header {
  background: url("https://cdn.glitch.global/19ac81cf-6e4e-4240-bb37-da665ef29a52/Zazzies%20Zany%20Candles%20(2).png?v=1673594866353")
    center/cover;
  background-size: cover;
  height: 130px;
  width:100vh;

  /* Price and Price button */
  h1 {
    font-family: "Mystery Quest", cursive;
    font-weight: 700;
    color: #ff69b4;
    margin: 0 0 20px 0;
    text-align: center;
    span {
      font-size: 12px;
      top: -10px;
      position: relative;
    }
}
  p {
    color: #fff;
    font-family: "Roboto";
    font-weight: 700;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    line-height: 25px;
  }
}

/*Body overlay*/
.contentOther {
 
  width: 100vh;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;


  
  }


span {
  display: flex;
  justify-content: center;
  color: #9400d3;
  filter: contrast(1.75);
}

/*Price card format*/
.card-1{
   display:flex;
  flex-direction:column;
   color:#ff69b4;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Mystery Quest", cursive;
}
.card-2{
  display:flex;
  flex-direction:column;
  color:#ff69b4;
box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Mystery Quest", cursive;
}
.card-3{
  display:flex;
  flex-direction:column;
   color:#ff69b4;
   box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Mystery Quest", cursive; 
  
}

.card-4{
  display:flex;
  flex-direction:column;
   color:#ff69b4;
   box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: "Mystery Quest", cursive;
  
}

/* price color and font size price is diff color so hesitant to add w h1 and desciption*/
.price {
  display:flex;
  justify-content:center;
  color: #fe4164;
  font-size: 22px;
}

h1,
.description{
  display:flex;
  justify-content:center;
  color:#ff69b4;
  
  
}

/*product image*/
.product-image{ 
  height:314px; 
  width:75%;
  margin: 0 auto;
  padding-top: 30px;
   
}

/* Gimme Button */
button {
  border: none;
  outline: 0;
  padding: 12px;
  color: #fe4164;
  font-family: "Mystery Quest", cursive;
  background-color:pink;
  text-align:center;
  cursor: pointer;
  border-radius: 16px;
  margin: 4px 70px;
  width: 50%;
  font-size: 15px;
}

/* Card Button Hover */
button:hover {
  opacity: 0.7;
}
@media screen and (max-width: 1400px) {
  .col  {
    justify-content:center;
    width: auto;
    display:block; 
    margin-left:5px;
    
    
  }
  

 


